<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <title>JobSpice</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script type="text/javascript" src="lib/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="filters.js"></script>
        <script type="text/javascript" src="routes.js"></script>
        <script type="text/javascript" src="directives.js"></script>
        <script type="text/javascript" src="controllers.js"></script>
    </head>
    <body ng-view></body>
</html>