<div class="page home">
    <div class="header">
        <a href="#/home" class="logo"></a>
        <div class="toolbar right">
            <a href="#/main/compose" class="button">Login</a>
        </div>
    </div>
    <div class="content">
        <span class="banner"></span
        ><form class="login-form">
            <h1>Sign Up</h1>
            <p>It's free and fun to use!</p>
            <div class="field">
                <label for="email">Your Email:</label>
                <input id="email" name="email" type="email" />
            </div>
            <div class="field">
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" />
            </div>
            <div class="field">
                <label for="profile">New Profile:</label>
                <input id="profile" name="profile" type="text" />
                <div class="field-hint">jobspice.com/</div>
            </div>
            <div class="field">
                <label for="import">Import:</label>
                <input id="import" name="import" type="checkbox" />
                <span class="linkedin-profile">profile</span>
            </div>
            <div class="field">
                <input value="Sign Up" type="submit" />
                <a href="#/getstarted">or Get Started</a>
            </div>
        </form>
        <div class="press">As seen on:</div>
    </div>
    <div class="footer">
        <ul>
            <li><a href="#/about">About Us</a></li>
            <li><a href="#/partnerships">Partnerships</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
        <ul>
            <li><a href="#/press">Press</a></li>
            <li><a href="#/happyusers">Happy Users</a></li>
        </ul>
        <ul>
            <li><a href="#/terms">Terms of Use</a></li>
            <li><a href="#/privacy">Privacy Policy</a></li>
        </ul>
        <div class="copyright">
            <p><span class="bold">JobSpice</span> is made with <span class="bold">love.</span></p>
            <p>&copy;2013 Spicy Inc.</p>
        </div>
    </div>
</div>