<li ng-repeat="item in $parent.item.items | mapToArray:'id' | orderBy:'order'">
    <i ng-class="{'delete':item.multiple}"></i
    ><span ng-repeat="field in item.fields" ng-switch="field.type" class="field-wrapper">
        {{field.before}}<textarea ng-switch-when="textarea" placeholder="{{field.label}}" name="{{field.name}}" class="field"></textarea>
        <input ng-switch-when="text" type="{{field.type}}" placeholder="{{field.label}}" name="{{field.name}}" class="field"/>{{field.after}}
    </span>
    <ul ng-if="item.items"  ng-include="'partials/compose.list.html'"></ul>
    <div ng-if="item.multiple" class="add-control"><i></i>{{item.addLabel}}</div>
</li>