<div class="page main {{section}}">
    <div class="header">
        <a href="#/home" class="logo"></a
        ><div class="toolbar" ng-repeat="toolbar in toolbars">
            <button ng-repeat="button in toolbar.items" ng-click="{{button.action}}" ng-class="{disabled:!button.enabled}"><i class="{{button.icon}}" ng-if="button.icon"></i>{{button.text}}</button>
        </div>
        <div class="toolbar right">
            <button><i class="help"></i>Help</button
            ><button>Login</button
            ><button>Sign Up</button>
        </div>
    </div>
    <div class="nav">
        <ul class="sections">
            <li ng-repeat="section in sections | mapToArray:'id' | orderBy:'order'" ng-class="section.cls"><a href="#/main/{{section.id}}">{{section.text}}</a></li>
        </ul>
        <ul class="actions">
            <li ng-repeat="action in sections[section].actions">{{action.text}}<i ng-if="action.icon" class="{{action.icon}}"></i></li>
        </ul>
    </div>
    <div class="content" ng-include="contentTemplateUrl"></div>
</div>